{% extends 'base.html.twig' %} {% block title %}Park index{% endblock %} {%
block body %}
<h1>Park index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Pays</th>
            <th>OpeningYear</th>
            <th>Nb. coasters</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for park in parks %}
        <tr>
            <td>{{ park.name }}</td>
            <td>{{ park.country|country_name('FR') }}</td>
            <td>{{ park.openingYear }}</td>
            <td>{{ park.coasters.count }}</td>
            <td>
                <a href="{{ path('app_park_show', { id: park.id }) }}"
                    >Afficher</a
                >
                <a href="{{ path('app_park_edit', { id: park.id }) }}"
                    >Modifier</a
                >
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_park_new') }}">Create new</a>
{% endblock %}
